@charset "UTF-8";

/* IMPORTANDO FONTES DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,400;1,100&display=swap');

/* IMPORTANDO FONTES DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/* CRIAÇÃO DE VARIAVEIS */
:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}


* { /* CONFIGURAÇÕES GLOBAIS PARA TODOS OS ELEMENTOS DO SITE */
    margin: 0px; /* TODOS OS ELEMENTOS IRÃO FICAR JUNTOS */
    padding: 0px;
    font-size: 1em;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px; /* ESPAÇAMENTO ACIMA DO TEXTO */
    /* text-transform: "uppercase"; DEIXA TODAS AS LETRAS MAIUSCULAS */
    font-variant: small-caps; /* LETRAS MAIUSCULAS COM A PRIMEIRA LETRA MAIOR */
    font-family: var(--fonte02);
    font-size: 10vh; /* A TELA VAI OCUPAR 10% DA TELA */
} 

header > p {
    padding-bottom: 50px; /* ESPAÇAMENTO DO ABAIXO DO TEXTO */
}

a {
    color: white;
    text-decoration: none; /* TIRA O SUBLINHADO DOS LINKS */
    font-weight: bolder; /* FONTE NEGRITO */
}

a:hover {
    text-decoration: underline; /* COLOCAR O SUBLINAHDO NO TEXTO */
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* ESPAÇAMENTO ENTRE OS TEXTOS DE CIMA PARA BAIXO */
    padding-left: 30px; /* ESPAÇAMENTO DO TEXTO DO LADO ESQUERDO */
    font-family: var(--fonte03);
    font-size: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: pink;
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover; /* REDUCAO DA IMAGEM PARA ADEQUEAR A TELA */
    background-attachment: fixed; /* FIXAR A IMAGEM */
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(13, 36, 10, 0.596); /* CRIAÇÃO DO BACKGROUND DENTRO DA SECTION */
    text-shadow: 1px 1px 0px black; /* COLOCAR SOMBRAS NA FONTE */
    
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

